{% extends 'base.html' %}
{% load filter_tags %}
{% load static %}

{% block google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88572039-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-88572039-2');
    </script>
{% endblock google_analytics %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock stylesheet %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Home</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row justify-content-center">
    <div class="col">
        <h1 class="text-left">Entries</h1>
    </div>
</div>
{% for entry in entries %}
<div class="row justify-content-center">
    <div class="col">
        <div class="card border-dark mt-1 mb-1">
            <div class="card-body">
                <div class="row justify-content-end">
                    <div class="col-7">
                        <h4 class="card-title">{{entry.from_word}} | {{entry.to_word}}</h4>
                        <h6 class="text-muted">Example: {{entry.from_example|truncatechars:60}}</h6>
                    </div>
                    <div class="col-3">
                        {% for tag in entry.tags.all %}
                        <div class="btn btn-outline-info disabled">{{ tag | get_tag_name }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-2">
                        <h6 class="text-muted">{{ entry.created_at|date:"Y/m/d"|lower }}</h6>
                        <h6 class="text-muted">{{ entry.created_by }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
