{% extends 'base.html' %}
{% load filter_tags %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
{% endblock stylesheet %}

{% block script %}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script> $('select').selectpicker(); </script>
{% endblock script %}

{% block title %}
Deck
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">{{ deck.name }}</li>
{% endblock breadcrumb %}

{% block content %}

{% include 'includes/filter_form.html' %}

<div class="row mt-2 mb-2">
    <div class="col-2">
        <a class="btn btn-primary" href="{% url 'add_entry' deck_id=deck.id %}"><i class="fas fa-plus-square"></i> Create new entry</a>
    </div>
</div>
    {% for entry in entries %}
        <div class="row justify-content-center">
            <div class="col">
                <div class="card border-dark mt-1 mb-1">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-6" data-toggle="modal" data-target="#{{entry.from_word}}_{{entry.to_word}}">
                                <h4 class="card-title">{{entry.from_word}} | {{entry.to_word}}</h4>
                                <h6 class="text-muted">{{entry.from_example|truncatechars:60}}</h6>
                            </div>
                            <div class="col-4">
                                {% for tag in entry.tags.all %}
                                    <div class="btn btn-outline-info disabled">{{ tag | get_tag_name }} </div>
                                {% endfor %}
                            </div>
                            <div class="col-2">
                                <div class="btn-group-vertical">
                                    <a class="btn btn-outline-primary" title="Edit" href="{% url 'edit_entry' deck_id=deck.id entry_id=entry.id %}"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-outline-danger" title="Delete" href="{% url 'delete_entry' deck_id=deck.id entry_id=entry.id %}"> <i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'includes/detail_entry_modal.html' %}
    {% endfor %}
{% endblock content %}