{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <title>Dora</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <script src="{% static 'js/bootstrap.min.js' %"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <h1>Entries</h1>
            </div>
            <table class="table table-dark">
                <thead>
                    <th>From</th>
                    <th>To</th>
                    <th>Word</th>
                    <th>Translation</th>
                    <th>Example</th>
                    <th>User</th>
                    <th>Date Added</th>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.from_lang }}</td>
                        <td>{{ entry.to_lang }}</td>
                        <td>{{ entry.from_word }}</td>
                        <td>{{ entry.to_word }}</td>
                        <td>{{ entry.from_example }}</td>
                        <td>{{ entry.created_by }}</td>
                        <td>{{ entry.created_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>