{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
{% endblock stylesheet %}

{% block script %}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script> $('select').selectpicker(); </script>
{% endblock script %}

{% block title %} Add new entry {% endblock title %}

{% block content %}
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add a new entry</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'view_deck' deck_id=deck_id %}" class="btn btn-outline-secondary" role="button">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}