{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
{% endblock stylesheet %}

{% block script %}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script> $('select').selectpicker(); </script>
{% endblock script %}

{% block title %}
Deck
{% endblock title %}

{% block content %}

{% include 'includes/filter_form.html' %}

<div class="row justify-content-end">
    <div class="col-2">
        <a href="{% url 'add_entry' deck_id=deck.id %}" class="mt-2 btn btn-outline-primary">New entry</a>
    </div>
</div>
    {% for entry in entries %}
        <div class="row justify-content-center">
            <div class="col">
                <div class="card border-dark mt-3 mb-3">
                    <div class="card-body">
                        <div class="row justify-content-end">
                            <div class="col-11">
                                <h4 class="card-title">{{entry.from_word}} | {{entry.to_word}}</h4>
                                <h6 class="text-muted">Example: {{entry.from_example}}</h6>
                            </div>
                            <div class="col-1">
                                <a class="btn" style="font-size: 1em; color: LightSkyBlue;" href="{% url 'edit_entry' deck_id=deck.id entry_id=entry.id %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn" style="font-size: 1em; color: IndianRed;" href="{% url 'delete_entry' deck_id=deck.id entry_id=entry.id %}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}